.footer-1
  .wrapper
    a.logo(src='../html/index.html')
      img(src='../assets/img/Gray-Logo.png' alt)
    //- .footer-1__menu
    //-   a.item(href='../html/about.html') 关于我们
    //-   a.item 联系我们
    //-   a.item 服务条款
    //-   a.item 常见问题
    .copyright Copyright © 彩票云 Reserved.
      