.main-1
    .wrapper
        .main-1__left
            .menu
                a.menu__item.active 热门彩
                a.menu__item PK10
                a.menu__item 时时彩
                a.menu__item 11选5
                a.menu__item 快乐10分
                a.menu__item 快3
                a.menu__item 其他
            .main__content
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
                include ../module/_card.pug
        .main-1__right
            .main__content
                .recommend
                    .recommend__title 推荐彩种
                        .recommend__subtitle RECOMMEND LOTTERY
                    .recommend__content
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
                        a.item
                            .item__img
                                img(src="../assets/img/ball.png", alt="lottery-ball")
                            .item__text 香港六合彩
            a.side-banner
                img(src="https://via.placeholder.com/280x280.png?text=Banner", alt="") 
            a.side-banner
                img(src="https://via.placeholder.com/280x280.png?text=Banner", alt="") 
